@charset "utf-8";

$mobile: 380px;
$tablet: 768px;

:root {
	--background: #222;
	--text: #eee;
	--purple: #800080;
	--grey: #444;
	--green: #1cceab;
}

html {
	font-family: 'Calibri', 'Trebuchet MS', sans-serif;
	background-color: var(--background);
	color: var(--text);

	a {
		color: var(--green);
	}
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

p {
	padding: .25rem 0;
}

h2 {
	padding: .5rem 0;
	display: flex;
	align-items: center;
}

body {
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	justify-content: space-between;
	margin: 0 auto;

	aside {
		flex: 0 0 34%;
	}

	main {
		flex: 0 0 61%;

		h2 {
			img {
				height: 2rem;
				width: 2rem;
				margin-right: .5rem;
			}
		}
	}
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	img {
		width: 32px;
		height: 32px;
		margin-left: .5rem;
	}
}

.sr {
	border: none !important;
	clip: rect(0, 0, 0, 0) !important;
	height: .01em !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: .01em !important;
}

work-experience,
school-work,
my-hobbies {
	item-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 1rem;
		margin: 1rem 0;
		background-color: var(--grey);
		border-radius: 8px;
		img {
			margin-right: 8px;
			object-fit: contain;
		}
		p {
			width: 100%;
		}
	}
}

site-address {
	display: flex;
	justify-content: space-between;
}

my-profile {
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 150%;
	}

	picture {
		padding: 2rem 0;

		img {
			border-radius: 50%;
			max-width: 100%;
			height: auto;
		}
	}

	some-list {
		display: flex;
		flex-wrap: wrap;

		a {
			flex: 0 0 33%;
			margin: 0;
			text-align: center;
		}
	}
}

@media(min-width: $tablet) {
	body {
		flex-direction: row;
	}

	aside {
		order: 2;
	}

	main {
		order: 1;
	}
}

@media(max-width: $tablet) {
	main {
		margin-top: 2rem;
	}
}

@media(max-width: $mobile) {
	site-address {
		flex-direction: column;
		align-items: center;
		language-selector {
			padding: 1rem 0;
		}
	}
}