@charset "utf-8";

* {
	box-sizing: border-box;
}

:root {
	--background: #222;
	--text: #eee;
	--purple: #800080;
	--grey: #444;
	--green: #1cceab;
}

html {
	font-family: 'Calibri', 'Trebuchet MS', sans-serif;
	background-color: var(--background);
	color: var(--text);

	& a {
		color: var(--green);
	}
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

p {
	padding: .25rem 0;
	hyphens: auto;
}

h2 {
	padding: .5rem 0;
	display: flex;
	align-items: center;
}

small {
	font-size: 80%;
}

body {
	max-width: 69rem;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	justify-content: space-between;
	margin: 0 auto;

	& aside {
		flex: 0 0 34%;
	}

	& main {
		flex: 0 0 61%;

		& h2 {
			& img {
				height: 2rem;
				width: 2rem;
				margin-right: .5rem;
				margin-bottom: .5rem;
			}
		}
	}
}

button {
	background: none;
	color: inherit;
	border: .25rem solid transparent;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	height: 3.5rem;
	width: 3.5rem;
	margin-left: .5rem;
	border-radius: 50%;
	margin-left: .5rem;
	&:focus {
		border: .25rem solid white;
	}
}

.sr {
	border: none !important;
	clip: rect(0, 0, 0, 0) !important;
	height: .01em !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: .01em !important;
}

work-experience, school-work, my-hobbies {
	& item-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 1rem;
		margin: 1rem 0;
		background-color: var(--grey);
		border-radius: .5rem;
		& img {
			margin-right: .5rem;
			margin-bottom: .5rem;
			object-fit: contain;
		}
		& p {
			width: 100%;
		}
		& small {
			display: block;
			width: 100%;
			& span {
				display: none;
			}
		}
		@media(min-width: 69rem) {
			& small {
				width: initial;
				margin-left: .25rem;
				font-size: 100%;
				& span {
					display: initial;
				}
			}
		}
	}
}

site-address {
	display: flex;
	justify-content: space-between;
}

my-profile {
	display: flex;
	flex-direction: column;
	align-items: center;

	& h1 {
		font-size: 150%;
	}

	& picture {
		padding: 2rem 0;

		& img {
			border-radius: 50%;
			max-width: 100%;
			height: auto;
		}
	}

	& some-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1rem .5rem;
		margin-bottom: 1rem;

		& a {
			flex-basis: calc(max(4.5rem, 25% - .5rem));
			margin: 0;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media(min-width: 48rem) {
	body {
		flex-direction: row;
	}

	aside {
		order: 2;
	}

	main {
		order: 1;
	}
}

@media(max-width: 48rem) {
	main {
		margin-top: 2rem;
	}
}

@media(max-width: 24rem) {
	site-address {
		flex-direction: column;
		align-items: center;
		& language-selector {
			padding: 1rem 0;
		}
	}
}