<div class="container p-4">
	<div class="columns is-reversed-desktop">
		<div class="p-4 column">
			<section class="profiili is-flex is-align-items-center is-flex-direction-column">
				<h1 class="title">{{ .Site.Params.nimi }}</h1>
				{{ $image := resources.Get "img/profile.jpg" }}
				{{ $jpeg := $image.Resize "512x512 jpg" }}
				{{ $webp := $image.Resize "512x512 webp" }}
				<picture class="block image is-256x256">
					<source type="image/webp" srcset="data:image/webp;base64,{{ $webp.Content | base64Encode }}">
					<img class="is-rounded" src="data:image/jpeg;base64,{{ $jpeg.Content | base64Encode }}" width="256" height="256" alt="Henkilökuva">
				</picture>
				<h2 data-fi="{{ .Site.Params.some.otsikko | safeHTMLAttr }}" data-en="{{ .Site.Params.some.otsikko_en | safeHTMLAttr }}" class="is-sr-only">{{ .Site.Params.some.otsikko }}</h2>
				<div class="mb-4 level is-flex is-flex-wrap-wrap">
					{{ range .Site.Params.some.lista }}
						<a class="level-item" href="{{ .url | safeURL }}">
							<span class="is-sr-only">{{ .alt }}</span>
							<figure class="image is-48x48">
								{{ readFile .ikoni | safeHTML }}
							</figure>
						</a>
					{{ end }}
				</div>
			</section>
			<section class="minusta">
				<p data-fi="{{ .Site.Params.esitys | safeHTMLAttr }}" data-en="{{ .Site.Params.esitys_en | safeHTMLAttr }}" class="block">{{ .Site.Params.esitys }}</p>
				<h2 data-fi="{{ .Site.Params.kieli.otsikko | markdownify | safeHTMLAttr }}" data-en="{{ .Site.Params.kieli.otsikko_en | markdownify | safeHTMLAttr }}" class="mt-5 subtitle">{{ .Site.Params.kieli.otsikko | markdownify }}</h2>
				{{ range .Site.Params.kieli.lista }}
					<p>
						<span data-fi="{{ .kieli | markdownify | safeHTMLAttr }}" data-en="{{ .kieli_en | markdownify | safeHTMLAttr }}">{{ .kieli | markdownify }}</span> &middot; <span data-fi="{{ .taso | markdownify | safeHTMLAttr }}" data-en="{{ .taso_en | markdownify | safeHTMLAttr }}">{{ .taso | markdownify }}</span>
					</p>
				{{ end }}
			</section>
		</div>
		<div class="p-4 column is-two-thirds">
			<div class="osoite level">
				<h3 class="level-item">{{ .Site.Params.osoite }}</h3>
				<div class="level-item">
					<span id="suomeksi" class="mr-3 is-clickable icon is-medium">{{ readFile "/assets/svg/fi.svg" | safeHTML }}</span>
					<span id="enkuksi" class="icon is-clickable is-medium">{{ readFile "/assets/svg/gb.svg" | safeHTML }}</span>
				</div>
			</div>
			<section class="tyokokemus">
				<h2 class="mt-5 subtitle is-flex is-align-items-center">
					<span class="mr-3 icon is-medium">{{ readFile .Site.Params.tyokokemus.ikoni | safeHTML }}</span>
					<span data-fi="{{ .Site.Params.tyokokemus.otsikko | safeHTMLAttr }}" data-en="{{ .Site.Params.tyokokemus.otsikko_en | safeHTMLAttr }}">{{ .Site.Params.tyokokemus.otsikko }}</span>
				</h2>
				{{ range .Site.Params.tyokokemus.lista }}
					<div class="box">
						<h3 class="is-size-5">{{ .paikka | markdownify }}</h3>
						<p class="pl-2"><a href="{{ .url | safeURL }}">{{ .yritys | markdownify }}</a> &middot {{ .aika | markdownify }}</p>
					</div>
				{{ end }}
			</section>
			<section class="koulutus">
				<h2 class="mt-5 subtitle is-flex is-align-items-center">
					<span class="mr-3 icon is-medium">{{ readFile .Site.Params.koulutus.ikoni | safeHTML }}</span>
					<span data-fi="{{ .Site.Params.koulutus.otsikko | safeHTMLAttr }}" data-en="{{ .Site.Params.koulutus.otsikko_en | safeHTMLAttr }}">{{ .Site.Params.koulutus.otsikko }}</span>
				</h2>
				{{ range .Site.Params.koulutus.lista }}
					<div class="box">
						<h3 class="is-size-5">{{ .tutkinto | markdownify }}</h3>
						<p class="pl-2"><a href="{{ .url | safeURL }}">{{ .koulu | markdownify }}</a> &middot {{ .aika | markdownify }}</p>
						{{ if .lopputyon_url }}
							<p class="pl-4"><span data-fi="Lopputyö" data-en="Thesis">Lopputyö</span>: <a href="{{ .lopputyon_url | safeURL }}"><i>{{ .lopputyo }}</i></a></p>
						{{ end }}
					</div>
				{{ end }}
			</section>
			<section class="projektit">
				<h2 class="mt-5 subtitle is-flex is-align-items-center">
					<span class="mr-3 icon is-medium">{{ readFile .Site.Params.projektit.ikoni | safeHTML }}</span>
					<span data-fi="{{ .Site.Params.projektit.otsikko | safeHTMLAttr }}" data-en="{{ .Site.Params.projektit.otsikko_en | safeHTMLAttr }}">{{ .Site.Params.projektit.otsikko }}</span>
				</h2>
				{{ range .Site.Params.projektit.lista }}
					<div class="box">
						<h3 class="is-size-5"><a data-fi="{{ .asia | markdownify | safeHTMLAttr }}" data-en="{{ .asia_en | markdownify | safeHTMLAttr }}" href="{{ .url | safeURL }}">{{ .asia | markdownify }}</a></h3>
						<p data-fi="{{ .selitys | markdownify | safeHTMLAttr }}" data-en="{{ .selitys_en | markdownify | safeHTMLAttr }}" class="pl-2">{{ .selitys | markdownify }}</p>
					</div>
				{{ end }}
			</section>
		</div>
	</div>
</div>