<aside>
	<my-profile>
		<h1>{{ .Site.Params.nimi }}</h1>
		{{ $image := resources.Get "img/profile.webp" }}
		{{ $webp := $image.Resize "512x512 webp" }}
		{{ $jpeg := $image.Resize "512x512 jpeg" }}
		<picture>
			<source type="image/webp" srcset="{{ $webp.RelPermalink }}">
			<img src="{{ $jpeg.RelPermalink }}" width="256" height="256" alt="Henkilökuva">
		</picture>
		<h2 class="sr" data-en="{{ .Site.Params.some.otsikko_en | safeHTMLAttr }}">{{ .Site.Params.some.otsikko }}</h2>
		<some-list>
			{{ range .Site.Params.some.lista }}
				<a target="_blank" href="{{ .url | safeURL }}">
					<span class="sr">{{ .name }}</span>
					{{ $ikoni := resources.Get .ikoni }}
					<img src="{{ $ikoni.RelPermalink }}" width="48" height="48" alt="">
				</a>
			{{ end }}
		</some-list>
	</my-profile>
	<about-me>
		<p data-en="{{ .Site.Params.esitys_en | safeHTMLAttr }}">{{ .Site.Params.esitys }}</p>
		<h2 data-en="{{ .Site.Params.kieli.otsikko_en | markdownify | safeHTMLAttr }}">{{ .Site.Params.kieli.otsikko | markdownify }}</h2>
		{{ range .Site.Params.kieli.lista }}
			<p data-en="{{ .kieli_en | markdownify | safeHTMLAttr }} &middot; {{ .taso_en | markdownify | safeHTMLAttr }}">{{ .kieli | markdownify }} &middot; {{ .taso | markdownify }}</p>
		{{ end }}
	</about-me>
</aside>
<main>
	<site-address>
		<h3>{{ .Site.Params.osoite }}</h3>
		<language-selector>
			{{ $fi := resources.Get "svg/fi.svg" }}
			{{ $gb := resources.Get "svg/gb.svg" }}
			<button type="button" id="suomeksi"><img src="{{ $fi.RelPermalink }}" width="32" height="32" alt="suomeksi"></button>
			<button type="button" id="enkuksi"><img src="{{ $gb.RelPermalink }}" width="32" height="32" alt="in english"></button>
		</language-selector>
	</site-address>
	<work-experience>
		<h2>
			{{ $tyokokemus := resources.Get .Site.Params.tyokokemus.ikoni }}
			<img src="{{ $tyokokemus.RelPermalink }}" width="32" height="32" alt="työkokemus">
			<span data-en="{{ .Site.Params.tyokokemus.otsikko_en | safeHTMLAttr }}">{{ .Site.Params.tyokokemus.otsikko }}</span>
		</h2>
		{{ range .Site.Params.tyokokemus.lista }}
			<item-list>
				<h3>{{ .paikka | markdownify }}</h3>
				<p><a href="{{ .url | safeURL }}">{{ .yritys | markdownify }}</a> &middot; {{ .aika | markdownify }}</p>
			</item-list>
		{{ end }}
	</work-experience>
	<school-work>
		<h2>
			{{ $koulutus := resources.Get .Site.Params.koulutus.ikoni }}
			<img src="{{ $koulutus.RelPermalink }}" width="32" height="32" alt="koulutus">
			<span data-en="{{ .Site.Params.koulutus.otsikko_en | safeHTMLAttr }}">{{ .Site.Params.koulutus.otsikko }}</span>
		</h2>
		{{ range .Site.Params.koulutus.lista }}
			<item-list>
				<h3>{{ .tutkinto | markdownify }}{{ with .tarkennus }} &middot; <small>{{ . }}</small>{{ end }}</h3>
				<p><a href="{{ .url | safeURL }}">{{ .koulu | markdownify }}</a> &middot; {{ .aika | markdownify }}</p>
				{{ if .lopputyon_url }}
					<p><span data-en="Thesis">Lopputyö</span>: <a href="{{ .lopputyon_url | safeURL }}"><i>{{ .lopputyo }}</i></a></p>
				{{ end }}
			</item-list>
		{{ end }}
	</school-work>
	<my-hobbies>
		<h2>
			{{ $projektit := resources.Get .Site.Params.projektit.ikoni }}
			<img src="{{ $projektit.RelPermalink }}" width="32" height="32" alt="projektit">
			<span data-en="{{ .Site.Params.projektit.otsikko_en | safeHTMLAttr }}">{{ .Site.Params.projektit.otsikko }}</span>
		</h2>
		{{ range .Site.Params.projektit.lista }}
			<item-list>
				<h3><a data-en="{{ .asia_en | markdownify | safeHTMLAttr }}" href="{{ .url | safeURL }}">{{ .asia | markdownify }}</a></h3>
				<p data-en="{{ .selitys_en | markdownify | safeHTMLAttr }}">{{ .selitys | markdownify }}</p>
			</item-list>
		{{ end }}
	</my-hobbies>
</main>